extends layout

block page_title
  title นี่คือชื่อเพจ

block greeting
  h1 สวัสดีชาวโลก!

block software_engineer
  p ฉันจะเป็นวิศวกรซอฟต์แวร์เร็วๆ นี้!
  img(src="/images/earth.jpg" alt="The Earth" title="The Earth")